config MTK_MIR3DA
	bool "MIR3DA for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MIR3DA Accelerometer.
